@CHARSET "UTF-8";

@font-face {
  font-family: 'Century Gothic';

  src: url('../../fonts/gothic/gothic.eot');
  src: url('../../fonts/gothic/gothic.eot?#iefix') format('embedded-opentype'), url('../../fonts/gothic/gothic.woff') format('woff'), url('../../fonts/gothic/gothic.ttf') format('truetype'), url('../../fonts/gothic/gothic.svg#gothic_halflingsregular') format('svg');
}