@CHARSET "UTF-8";

html,
body {
    height: 100%;
}

body {
	background-color: rgba(243, 243, 243, 1);
}

#page {
	min-height: 100%;
	position: relative;
}

/* ------------------------------
	HEADER
------------------------------ */
header {
    background-color: rgba(41, 73, 166, 1);
    font-family: "Century Gothic", Tahoma, Arial, Sans Serif;
}
    header .navbar {
        background-color: rgba(0, 0, 0, 0.2);
        background-image: none;
        border: 0 none;
        margin-bottom: 0;
    }
        .navbar .navbar-brand,
        .navbar .navbar-inverse,
        .navbar-inverse .navbar-nav > li > a {
            color: rgba(230, 230, 230, 1);
        }
        .navbar .navbar-brand {
            font-size: 1.8em;
            font-weight: bolder;
        }
        .navbar .nav {
            font-size: 1.15em;
        }
            .navbar .nav li {
                line-height: 50px;
            }
        
	    /* área de login */
	    .avatar {
	        background-color: rgba(61, 97, 206, 1);
	        display: inline-block;
	        width: 46px;
	    }
	    .nav > li > a.dropdown-toggle {
	        display: inline;
	    }
	    
	/* page-header */
	.page-header {
	    background-color: rgba(41, 73, 166, 1);
	    margin-top: 0px;
	}
	    .page-header h1 {
	        color: rgba(255, 255, 255, 1);
	        font-size: 1.5em;
	        font-weight: 600;
	        text-transform: uppercase;
	    }
	       .page-header h1 small /*pagesubheader*/ {
	           color: rgba(200, 200, 200, 1);
	       }

/* ------------------------------
    CONTENT
------------------------------ */
/* box */
.box {
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(192, 192, 192, 1);
	color: rgba(96, 96, 96, 1);
	margin-bottom: 20px;
	width: 100%;
}
    .box .box-header {
        background-color: rgba(250, 250, 250, 1);
        border-bottom: 1px solid rgba(192, 192, 192, 1);
        font-weight: bolder;
        padding: 4%;
    }
    .box .box-content {
        padding: 4%;
    }
	    
/* ------------------------------
    FOOTER
------------------------------ */
footer {
	background-color: rgba(35, 35, 35, 1);
	color: rgba(255, 255, 255, 1);
	display: block;
	font-size: 0.9em;
	min-height: 40px;
	padding: 15px;
	
}